<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ffbf.forfoodiesbyfoodies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserList"></activity>
        <activity android:name=".DetailsStreetFood" />
        <activity android:name=".ReviewAddNew" />
        <activity android:name=".ViewOtherUser" />
        <activity android:name=".ReviewsList" />
        <activity android:name=".RestaurantReservation" />
        <activity android:name=".DetailsRestaurant" />
        <activity android:name=".StreetFoodList" />
        <activity android:name=".RestaurantsList" />
        <activity android:name=".YourProfile" />
        <activity android:name=".AddLocation" />
        <activity android:name=".MainMenu" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>